.grid-container {
 display: grid;
 /* Cria colunas que se ajustam automaticamente. 
    minmax(200px, 1fr) define largura mínima de 200px e máxima flexível (1 fração do espaço disponível) */
 grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 gap: 10px; /* Adiciona espaçamento entre os itens */
 border-radius: 2rem;
}

.grid-item {
 background-color: #ddd;
 border: 1px solid #ccc;
 padding: 20px;
 text-align: center;
}


.cabecalho {
 display: flex;
 align-items: center;
 padding: 10px;
 gap: 10px;
}

.cabecalho p {
 color: blue;
 font-family:Arial, Helvetica, sans-serif;
 font-size: larger;
}

.cabecalho img {
 width: 2%;
  justify-content: flex-end;
}


.sair{ 
 display: flex;
 justify-content: flex-end;
  justify-items: center;
 background-image: url('./filmes/iconeSair.webp');
 background-size: cover; /* Ou 'contain' para mostrar a imagem inteira */
 background-position: center;
 background-repeat: no-repeat;
   
 /* Define o tamanho exato da sua imagem */
 width: 50px;
 height: 50px;
    
 /* Remove bordas padrão para limpar */
 border: none;
 cursor: pointer;
 float: right;
}

.container{
gap: 5px;    
padding: 5px;
}

/* MODAL TELA 3 */
dialog {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 80%;
  height: 80%;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Escurece o fundo */
}
#filme {
   width: 5%;
}

.form-check{
 border: solid 2px;  
 background-color: aquamarine;
 width: 15%;
 gap:10px;
 padding: 10px;
}


