.sair{ 
 display: flex;
 justify-content: flex-end;
 justify-items: center;
 
 background-size: cover; /* Ou 'contain' para mostrar a imagem inteira */
 background-position: center;
 background-repeat: no-repeat;
   
 /* Define o tamanho exato da sua imagem */
 width: 50px;
 height: 50px;
    
 /* Remove bordas padrão para limpar */
 border: none;
 cursor: pointer;
 float: right;
}

/* Detalhes do filme, valores e horarios*/
.detalhes{
  display: flex;        
  gap: 10px;           
  flex-wrap: wrap;
  border-radius: 2rem;
  border: solid 2px;
  width: 100%;
  padding: 10px;
}

/* Tamanho da tela */
.screen {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.2);
    transform: rotateX(-15deg); /* Efeito 3D */
}


.separa{
  
  gap:10px;
  height: 15px;
}
.form{
  align-content: center;
  gap:10px;
  padding: 5px;
  width: 25%;
  height: 50px;
  align-items:  center;
  background-color: #ebeff3;
  margin: 5px;
}

#qtdeInteira, #qtdMeia{
  width: 70px;
}


#filme {
   width: 15%;
}

.cinema{
 display: grid;   
 grid-template-columns: repeat(5,10px);
 gap:10px;
 padding: 10px;
}



/* Container que centraliza tudo */
#minhasCadeiras {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #1a1a1a; /* Fundo escuro estilo cinema */
    border-radius: 8px;
}

/* Estilo de cada linha */
.linha {
    display: flex;
    gap: 10px;
}

.organizacao{
  display: flex;
  border: solid 3px;
}

/* Estilo base da cadeira (assento) */
.assento {
    width: 40px;
    height: 40px;
    background-color: #444451;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
    transition: transform 0.2s, background-color 0.2s;
}

/* Efeito ao passar o mouse */
.assento:hover {
    transform: scale(1.1);
    background-color: #40e269;
}

/* ESTADO: Assento Selecionado */
.assento.selecionado {
    background-color: #6feaf6; /* Azul brilhante */
    box-shadow: 0 0 10px #6feaf6;
    color: #000;
}

/* ESTADO: Assento já ocupado (opcional) */
.assento.ocupado {
    background-color: #ca3d1a; /* Vermelho brilhante */
    box-shadow: 0 0 10px #ca3d1a;
    background-color:  #ca3d1a;
    cursor: not-allowed;
}
