body {
 font-family: Arial, Helvetica, sans-serif;   
  background: linear-gradient(to bottom, #968889, #c48e44); /* De vermelho claro para amarelo */
   
}
form { border-radius: 2rem;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2rem;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 2rem;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  border-radius: 2rem;
}


span.psw {
  float: right;
  padding-top: 16px;
}

.login{ 
 display: flex;
 width: 30%; 
 margin:auto; 
 top: auto;
 border-radius: 2rem;
 border: solid 2px;
 border-color: grey;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.texto{
 font-family: 'Courier New', Courier, monospace;   
 font-size: small;
 color: red;
 padding: 10px;
}

